<div class="section where-to">
  <div class="section-content grid-container grid-1-1">
     <div class="mobile-padding main-page banner-content main-website">
        <h1><span class="orange-text">OpenWeather</span></h1>
        <h2><span class="white-text">Weather forecasts, nowcasts and history in a fast and elegant way</span>
        </h2>
     </div>
  </div>
</div>

<div  id="weather-widget">
  <div class="grey-container">
    <div class="page-container">
      <div class="control-container">       
        <div class="search-block" style="width: 30%;">
          <div class="search">
            <div class="search-container">
              <input type="text" [(ngModel)]="city" placeholder="Search city">
            </div>
            <button type="submit" class="button-round dark" (click)="searchCity()">Search</button>
          </div>
          <div *ngIf="notFound" class="sub not-found">Not found. To make search more precise put the city's name.            
          </div>
        </div>
        <div class="controls" style="margin-left: 60px;">
          <div class="control-el" style="border: medium;">
            <i class="fas fa-map-location" style="font-size: 20px; color: #939394;" (click)="getCurrentLocation()"  title="View current location"></i>
          </div>        
          <!-- <span class="control-el" style="margin-right: 8pt;">Different Weather?</span> -->
          <div class="switch-container">
            <div class="option" [class.selected1]="selectedOption === 'metric'" (click)="selectOption('metric')">Metric: °C, m/s</div>
            <!-- <div class="option" [class.selected1]="selectedOption === 'imperial'" (click)="selectOption('imperial')">Imperial: °F, mph</div> -->
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-part" *ngIf="presentData">
  <div class="container-controller">
    <div id="map" style="height: 250px; width: 400px;"></div>
    <div class="legend-box">
      <h3>Legend</h3>
      <div class="legend-item">
        <div class="legend-color green"></div>
        <div class="legend-label">Wind Speed &lt; 2 m/s</div>
      </div>
      <div class="legend-item">
        <div class="legend-color yellow"></div>
        <div class="legend-label">2 m/s &le; Wind Speed &lt; 4 m/s</div>
      </div>
      <div class="legend-item">
        <div class="legend-color red"></div>
        <div class="legend-label">Wind Speed &ge; 4 m/s</div>
      </div>
      <div class="legend-item">
        <div class="legend-color blue"></div>
        <div class="legend-label">Humidity &lt; 30%</div>
      </div>
      <div class="legend-item">
        <div class="legend-color green"></div>
        <div class="legend-label">30% &le; Humidity &lt; 70%</div>
      </div>
      <div class="legend-item">
        <div class="legend-color red"></div>
        <div class="legend-label">Humidity &ge; 70%</div>
      </div>
    </div>
    <div class="current-container">
        <div style=" box-sizing: border-box;">
          <span class="orange-text">{{date}}</span>
          <h2 style="margin-top: 0px; font-weight: 700; font-size: 25px; font-family: Space Grotesk,Arial,sans-serif;
          color: #48484a;">{{city1}}, {{country}}</h2>
        </div>
        <div style="box-sizing: border-box;">
          <div class="current-temp">
            <i [class]="getWeatherIcon()" style="margin-left: -5px; color: #939394;"></i>
            <span class="heading">{{maintemp}}°C</span>
          </div>
          <div style="box-sizing: border-box; font-weight: 700; font-family: Space Grotesk,Arial,sans-serif;
          color: #48484a; font-size: 14px; margin-top: 7px; margin-bottom: 10px;">
            Feels like {{feeltemp}}. {{main}}. {{description}}
          </div>
              <ul class="weather-items">
                <li>
                  <div class="wind-line">
                    <i class="fas fa-wind"></i>
                    {{windSpeed}}m/s 
                  </div>
                </li>
                <li>
                  <i class="fas fa-tachometer-alt"></i>
                  {{pressure}}hPa
                </li>
                <li>
                  <span class="symbol">Humidity:</span>{{humidity}}%
                </li>
                <li>
                  <span class="symbol">Max Temp:</span>{{tempMax}}°C
                </li>
                <li>
                  <span class="symbol">Min Temp:</span>{{tempMin}}°C
                </li>
                <li>
                  <span class="symbol">Visibility:</span>{{visibility}}KM
                </li>
              </ul>
        </div>
    </div>
  </div>
</div>

<div class="section-part">
  <div class="container-controller">
   <div id="container">
   </div>
    <div *ngIf="!showOtherContent" class="daily-container">
      <h3 style="font-size: 18px; font-weight: 700; box-sizing: border-box;" *ngIf="presentData">6-day forecast</h3>
      <ul class="day-list">
        <li *ngFor="let day of aggregatedForecast; let i = index" class="list-item" (click)="handleListItemClick(formatDate1(day.dt_txt), i)">
          <span style="font-family: Space Grotesk,Arial,sans-serif; color: #48484a;">{{ formatDate1(day.dt_txt) }}</span> 
          <div class="day-list-values">
            <div style="display: flex; justify-content: flex-start; align-items: center;">
              <i [class]="getWeatherIcon1(day.weather[0].icon)" style="margin-left: -5px; color: #939394;"></i> 
              <span style="font-family: Space Grotesk,Arial,sans-serif; color: #48484a; font-size: 14px; box-sizing: border-box;">{{ convertTemperature(day.main.temp_min) }} / {{ convertTemperature(day.main.temp_max) }}°C</span> 
            </div>
            <span class="sub" style="width: 70px; text-align: right; font-family: Space Grotesk,Arial,sans-serif;">{{ day.weather[0].description }}</span>
            <span style="font-family: Space Grotesk,Arial,sans-serif; color: #48484a; font-size: 11px;">
              <i class="fas fa-chevron-down"></i>
            </span>
          </div>
        </li>
      </ul>
    </div> 
    <div *ngIf="showOtherContent" class="scrolling-container">
      <div class="scrolling-container-header">
        <ul class="options-scroller">  
          <li *ngFor="let i of getDisplayDates()" 
          (click)="handleListItemCheck(formatDate1(aggregatedForecast[i].dt_txt),i)"
          [class.selected]="i === selectedDateIndex">{{formatDate1(aggregatedForecast[i].dt_txt) }}</li>
        </ul>  
        <span style="font-family: Space Grotesk,Arial,sans-serif; color: #48484a; font-size: 11px;" (click)="return()">
          <i class="fas fa-chevron-down"></i>
        </span>
      </div>
      <div class="scrolling-container-content">
        <div class="daily-detail-container" *ngFor="let day of selectedDateData">
          <div class="top-section">
            <i [class]="getWeatherIcon1(day.weather[0].icon)" style="margin-left: -5px; color: #939394;"></i> 
            <div>
              <p style="font-weight: 700; margin-top: 5px;
              margin-bottom: 5px; font-family: Space Grotesk,Arial,sans-serif;
              color: #48484a; font-size: 15px; ">{{ day.weather[0].description }}. {{day.weather[0].main}}.</p>
              <p style="font-weight: 200; margin-top: 5px;
              margin-bottom: 5px; font-family: Space Grotesk,Arial,sans-serif;
              color: #48484a; font-size: 15px;">The high will be {{ convertTemperature(day.main.temp_max) }}°C, the low will be {{ convertTemperature(day.main.temp_min) }}°C.</p>
            </div>
          </div>
          <ul class="weather-items text-container orange-side standard-padding">
            <li>
              <i class="fas fa-snowflake"></i>
            <span>{{day.wind.deg}}</span>
            <span style="margin-left: 2pt;">({{ day.clouds.all}}%)</span>

            </li>
          <li>
            <div class="wind-line"> 
              <i class="fas fa-wind"></i> {{day.wind.speed}}m/s 
            </div>
          </li>
          <li>
            <i class="fas fa-tachometer-alt"></i>{{day.main.pressure}}hPa
          </li>
          <li>
            <span class="symbol">Humidity:</span>{{day.main.humidity}}%
          </li>    
          <li>
            <span class="symbol">Dew point:</span>{{convertTemperature(day.main.feels_like )}}°C
          </li>
        </ul>    
      </div>
    </div>
    </div>
  </div>
</div>

<div id="lineContainer" style="width:100%; height:400px;" class="hidden"></div>















